@font-face {
  font-family: 'LeferiPoint-WhiteA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
 }

 body {
	font-family: 'LeferiPoint-WhiteA';
}

 .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  text-align: center;
  height:50px;
  align-items: center;
 }

 .name{
  color: black;
  text-align: center;
  font-size: 50px;
  margin-bottom:10px;
 }


 .flex{
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
 } 

 .nav-item{
  margin-right:50px;
  margin-left:50px;
 }
 <!--CSS-->
.background { 
    animation: fadein 0.7s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}